src/
test/
.github/
.vscode/
.vscode-test/
.husky/
coverage/
node_modules/*
!node_modules/serialport
!node_modules/@serialport
*.vsix
*.map
tsconfig.json
eslint.config.mjs
vitest.config.ts
package-lock.json
.gitignore
CONTRIBUTING.md
PLAN.md
